* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.informacoes-gerais {
    display: flex;
}

img {
    width: 300px; /* Ajusta automaticamente ao tamanho do contêiner */
    height: 250px;
    display: block; /* Remove espaços extras */
    object-fit: cover;
}

.navigation-bar{
    background-color: gray;
    height: 50px;
}

.inside-navigation-bar{
    left: 1%;
    display: flex;
    gap: 10px;
}

.left-side{
    background-color: aqua;
}



/* 
Segue abaixo a responsividade para telas menores ;)
*/ 

@media (max-width: 768px) {
    .navigation-bar {
        background-color: gray;
        width: auto;
        height: auto;
    }

    .inside-navigation-bar {
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: column; /* Menu empilhado */
        text-align: center;
    }

    .informacoes-gerais {
        flex-direction: column;
        text-align: center;
    }
}

